In [1]:
import sys
import os
sys.path.append(os.getcwd() + "/..")
from ws.scraper import Scraper
from selenium import webdriver
from ws.constants import *
import json
import pandas as pd

In [87]:
LEAGUES

{'Brasileirao': {'countryid': 31, 'leagueid': 95},
 'Bundesliga': {'countryid': 81, 'leagueid': 3},
 'Chinese Super League': {'countryid': 45, 'leagueid': 162},
 'Eredivisie': {'countryid': 155, 'leagueid': 13},
 'La Liga': {'countryid': 206, 'leagueid': 4},
 'Liga NOS': {'countryid': 177, 'leagueid': 21},
 'Ligue 1': {'countryid': 74, 'leagueid': 22},
 'Premier League': {'countryid': 252, 'leagueid': 2},
 'Primera Argentina': {'countryid': 11, 'leagueid': 68},
 'Russian Premier League': {'countryid': 182, 'leagueid': 77},
 'Serie A': {'countryid': 108, 'leagueid': 5},
 'Super Lig': {'countryid': 225, 'leagueid': 17},
 'UEFA Champions League': {'countryid': 250, 'leagueid': 12},
 'UEFA Europa League': {'countryid': 250, 'leagueid': 30}}

In [31]:


league = "premier_league"
season = "2017-2018"
path = JSONPATH+league+"/"+season
files = list(map(lambda x: path+"/"+x,os.listdir(path)))

In [93]:
def jsonList(league,season,jsonpath=JSONPATH):
    
    leaguename = league.lower().replace(" ","_")
    path = jsonpath+leaguename+"/"+season
    files = filter(lambda x: "json" in x, list(map(lambda x: path+"/"+x,os.listdir(path))))
    
    return list(files)

In [94]:
jsonList("Premier League","2017-2018")

['../data/json/premier_league/2017-2018/1190174.json',
 '../data/json/premier_league/2017-2018/1190175.json',
 '../data/json/premier_league/2017-2018/1190176.json',
 '../data/json/premier_league/2017-2018/1190177.json',
 '../data/json/premier_league/2017-2018/1190178.json',
 '../data/json/premier_league/2017-2018/1190179.json',
 '../data/json/premier_league/2017-2018/1190180.json',
 '../data/json/premier_league/2017-2018/1190181.json',
 '../data/json/premier_league/2017-2018/1190182.json',
 '../data/json/premier_league/2017-2018/1190183.json',
 '../data/json/premier_league/2017-2018/1190184.json',
 '../data/json/premier_league/2017-2018/1190185.json',
 '../data/json/premier_league/2017-2018/1190186.json',
 '../data/json/premier_league/2017-2018/1190187.json',
 '../data/json/premier_league/2017-2018/1190188.json',
 '../data/json/premier_league/2017-2018/1190189.json',
 '../data/json/premier_league/2017-2018/1190190.json',
 '../data/json/premier_league/2017-2018/1190191.json',
 '../data/json/premier_league/2017-2018/1190192.json',
 '../data/json/premier_league/2017-2018/1190193.json',
 '../data/json/premier_league/2017-2018/1190194.json',
 '../data/json/premier_league/2017-2018/1190195.json',
 '../data/json/premier_league/2017-2018/1190196.json',
 '../data/json/premier_league/2017-2018/1190197.json',
 '../data/json/premier_league/2017-2018/1190198.json',
 '../data/json/premier_league/2017-2018/1190199.json',
 '../data/json/premier_league/2017-2018/1190200.json',
 '../data/json/premier_league/2017-2018/1190201.json',
 '../data/json/premier_league/2017-2018/1190202.json',
 '../data/json/premier_league/2017-2018/1190203.json',
 '../data/json/premier_league/2017-2018/1190204.json',
 '../data/json/premier_league/2017-2018/1190205.json',
 '../data/json/premier_league/2017-2018/1190206.json',
 '../data/json/premier_league/2017-2018/1190207.json',
 '../data/json/premier_league/2017-2018/1190208.json',
 '../data/json/premier_league/2017-2018/1190209.json',
 '../data/json/premier_league/2017-2018/1190210.json',
 '../data/json/premier_league/2017-2018/1190211.json',
 '../data/json/premier_league/2017-2018/1190213.json',
 '../data/json/premier_league/2017-2018/1190214.json',
 '../data/json/premier_league/2017-2018/1190215.json',
 '../data/json/premier_league/2017-2018/1190216.json',
 '../data/json/premier_league/2017-2018/1190217.json',
 '../data/json/premier_league/2017-2018/1190218.json',
 '../data/json/premier_league/2017-2018/1190219.json',
 '../data/json/premier_league/2017-2018/1190220.json',
 '../data/json/premier_league/2017-2018/1190221.json',
 '../data/json/premier_league/2017-2018/1190222.json',
 '../data/json/premier_league/2017-2018/1190223.json',
 '../data/json/premier_league/2017-2018/1190224.json',
 '../data/json/premier_league/2017-2018/1190225.json',
 '../data/json/premier_league/2017-2018/1190226.json',
 '../data/json/premier_league/2017-2018/1190227.json',
 '../data/json/premier_league/2017-2018/1190228.json',
 '../data/json/premier_league/2017-2018/1190229.json',
 '../data/json/premier_league/2017-2018/1190230.json',
 '../data/json/premier_league/2017-2018/1190231.json',
 '../data/json/premier_league/2017-2018/1190232.json',
 '../data/json/premier_league/2017-2018/1190233.json',
 '../data/json/premier_league/2017-2018/1190234.json',
 '../data/json/premier_league/2017-2018/1190235.json',
 '../data/json/premier_league/2017-2018/1190236.json',
 '../data/json/premier_league/2017-2018/1190237.json',
 '../data/json/premier_league/2017-2018/1190238.json',
 '../data/json/premier_league/2017-2018/1190239.json',
 '../data/json/premier_league/2017-2018/1190240.json',
 '../data/json/premier_league/2017-2018/1190241.json',
 '../data/json/premier_league/2017-2018/1190242.json',
 '../data/json/premier_league/2017-2018/1190243.json',
 '../data/json/premier_league/2017-2018/1190244.json',
 '../data/json/premier_league/2017-2018/1190245.json',
 '../data/json/premier_league/2017-2018/1190246.json',
 '../data/json/premier_league/2017-2018/1190247.json',
 '../data/json/premier_league/2017-2018/1190248.json',
 '../data/json/premier_league/2017-2018/1190249.json',
 '../data/json/premier_league/2017-2018/1190250.json',
 '../data/json/premier_league/2017-2018/1190251.json',
 '../data/json/premier_league/2017-2018/1190252.json',
 '../data/json/premier_league/2017-2018/1190253.json',
 '../data/json/premier_league/2017-2018/1190254.json',
 '../data/json/premier_league/2017-2018/1190255.json',
 '../data/json/premier_league/2017-2018/1190256.json',
 '../data/json/premier_league/2017-2018/1190257.json',
 '../data/json/premier_league/2017-2018/1190258.json',
 '../data/json/premier_league/2017-2018/1190259.json',
 '../data/json/premier_league/2017-2018/1190260.json',
 '../data/json/premier_league/2017-2018/1190261.json',
 '../data/json/premier_league/2017-2018/1190262.json',
 '../data/json/premier_league/2017-2018/1190263.json',
 '../data/json/premier_league/2017-2018/1190264.json',
 '../data/json/premier_league/2017-2018/1190265.json',
 '../data/json/premier_league/2017-2018/1190266.json',
 '../data/json/premier_league/2017-2018/1190267.json',
 '../data/json/premier_league/2017-2018/1190268.json',
 '../data/json/premier_league/2017-2018/1190269.json',
 '../data/json/premier_league/2017-2018/1190270.json',
 '../data/json/premier_league/2017-2018/1190271.json',
 '../data/json/premier_league/2017-2018/1190272.json',
 '../data/json/premier_league/2017-2018/1190273.json',
 '../data/json/premier_league/2017-2018/1190274.json',
 '../data/json/premier_league/2017-2018/1190275.json',
 '../data/json/premier_league/2017-2018/1190276.json',
 '../data/json/premier_league/2017-2018/1190277.json',
 '../data/json/premier_league/2017-2018/1190278.json',
 '../data/json/premier_league/2017-2018/1190279.json',
 '../data/json/premier_league/2017-2018/1190280.json',
 '../data/json/premier_league/2017-2018/1190281.json',
 '../data/json/premier_league/2017-2018/1190282.json',
 '../data/json/premier_league/2017-2018/1190283.json',
 '../data/json/premier_league/2017-2018/1190284.json',
 '../data/json/premier_league/2017-2018/1190285.json',
 '../data/json/premier_league/2017-2018/1190286.json',
 '../data/json/premier_league/2017-2018/1190287.json',
 '../data/json/premier_league/2017-2018/1190288.json',
 '../data/json/premier_league/2017-2018/1190289.json',
 '../data/json/premier_league/2017-2018/1190290.json',
 '../data/json/premier_league/2017-2018/1190291.json',
 '../data/json/premier_league/2017-2018/1190292.json',
 '../data/json/premier_league/2017-2018/1190293.json',
 '../data/json/premier_league/2017-2018/1190294.json',
 '../data/json/premier_league/2017-2018/1190295.json',
 '../data/json/premier_league/2017-2018/1190296.json',
 '../data/json/premier_league/2017-2018/1190297.json',
 '../data/json/premier_league/2017-2018/1190298.json',
 '../data/json/premier_league/2017-2018/1190299.json',
 '../data/json/premier_league/2017-2018/1190300.json',
 '../data/json/premier_league/2017-2018/1190301.json',
 '../data/json/premier_league/2017-2018/1190302.json',
 '../data/json/premier_league/2017-2018/1190303.json',
 '../data/json/premier_league/2017-2018/1190304.json',
 '../data/json/premier_league/2017-2018/1190305.json',
 '../data/json/premier_league/2017-2018/1190306.json',
 '../data/json/premier_league/2017-2018/1190307.json',
 '../data/json/premier_league/2017-2018/1190308.json',
 '../data/json/premier_league/2017-2018/1190309.json',
 '../data/json/premier_league/2017-2018/1190310.json',
 '../data/json/premier_league/2017-2018/1190311.json',
 '../data/json/premier_league/2017-2018/1190312.json',
 '../data/json/premier_league/2017-2018/1190313.json',
 '../data/json/premier_league/2017-2018/1190314.json',
 '../data/json/premier_league/2017-2018/1190315.json',
 '../data/json/premier_league/2017-2018/1190316.json',
 '../data/json/premier_league/2017-2018/1190317.json',
 '../data/json/premier_league/2017-2018/1190318.json',
 '../data/json/premier_league/2017-2018/1190319.json',
 '../data/json/premier_league/2017-2018/1190320.json',
 '../data/json/premier_league/2017-2018/1190321.json',
 '../data/json/premier_league/2017-2018/1190322.json',
 '../data/json/premier_league/2017-2018/1190323.json',
 '../data/json/premier_league/2017-2018/1190324.json',
 '../data/json/premier_league/2017-2018/1190325.json',
 '../data/json/premier_league/2017-2018/1190326.json',
 '../data/json/premier_league/2017-2018/1190327.json',
 '../data/json/premier_league/2017-2018/1190328.json',
 '../data/json/premier_league/2017-2018/1190330.json',
 '../data/json/premier_league/2017-2018/1190331.json',
 '../data/json/premier_league/2017-2018/1190332.json',
 '../data/json/premier_league/2017-2018/1190334.json',
 '../data/json/premier_league/2017-2018/1190336.json',
 '../data/json/premier_league/2017-2018/1190340.json',
 '../data/json/premier_league/2017-2018/1190344.json',
 '../data/json/premier_league/2017-2018/1190348.json',
 '../data/json/premier_league/2017-2018/1190352.json',
 '../data/json/premier_league/2017-2018/1190356.json',
 '../data/json/premier_league/2017-2018/1190360.json',
 '../data/json/premier_league/2017-2018/1190364.json',
 '../data/json/premier_league/2017-2018/1190368.json',
 '../data/json/premier_league/2017-2018/1190372.json',
 '../data/json/premier_league/2017-2018/1190376.json',
 '../data/json/premier_league/2017-2018/1190380.json',
 '../data/json/premier_league/2017-2018/1190384.json',
 '../data/json/premier_league/2017-2018/1190388.json',
 '../data/json/premier_league/2017-2018/1190392.json',
 '../data/json/premier_league/2017-2018/1190396.json',
 '../data/json/premier_league/2017-2018/1190400.json',
 '../data/json/premier_league/2017-2018/1190404.json',
 '../data/json/premier_league/2017-2018/1190408.json',
 '../data/json/premier_league/2017-2018/1190412.json',
 '../data/json/premier_league/2017-2018/1190416.json',
 '../data/json/premier_league/2017-2018/1190420.json',
 '../data/json/premier_league/2017-2018/1190424.json',
 '../data/json/premier_league/2017-2018/1190428.json',
 '../data/json/premier_league/2017-2018/1190432.json',
 '../data/json/premier_league/2017-2018/1190436.json',
 '../data/json/premier_league/2017-2018/1190440.json',
 '../data/json/premier_league/2017-2018/1190444.json',
 '../data/json/premier_league/2017-2018/1190447.json',
 '../data/json/premier_league/2017-2018/1190450.json',
 '../data/json/premier_league/2017-2018/1190459.json',
 '../data/json/premier_league/2017-2018/1190518.json',
 '../data/json/premier_league/2017-2018/1190519.json',
 '../data/json/premier_league/2017-2018/1190520.json',
 '../data/json/premier_league/2017-2018/1190521.json',
 '../data/json/premier_league/2017-2018/1190522.json',
 '../data/json/premier_league/2017-2018/1190523.json',
 '../data/json/premier_league/2017-2018/1190524.json',
 '../data/json/premier_league/2017-2018/1190525.json',
 '../data/json/premier_league/2017-2018/1190526.json',
 '../data/json/premier_league/2017-2018/1190527.json',
 '../data/json/premier_league/2017-2018/1190528.json',
 '../data/json/premier_league/2017-2018/1190529.json',
 '../data/json/premier_league/2017-2018/1190530.json',
 '../data/json/premier_league/2017-2018/1190531.json',
 '../data/json/premier_league/2017-2018/1190532.json',
 '../data/json/premier_league/2017-2018/1190533.json',
 '../data/json/premier_league/2017-2018/1190534.json',
 '../data/json/premier_league/2017-2018/1190535.json',
 '../data/json/premier_league/2017-2018/1190536.json',
 '../data/json/premier_league/2017-2018/1190537.json',
 '../data/json/premier_league/2017-2018/1190538.json',
 '../data/json/premier_league/2017-2018/1190539.json',
 '../data/json/premier_league/2017-2018/1190540.json',
 '../data/json/premier_league/2017-2018/1190541.json',
 '../data/json/premier_league/2017-2018/1190542.json',
 '../data/json/premier_league/2017-2018/1190543.json',
 '../data/json/premier_league/2017-2018/1190544.json',
 '../data/json/premier_league/2017-2018/1190545.json',
 '../data/json/premier_league/2017-2018/1190546.json',
 '../data/json/premier_league/2017-2018/1190548.json',
 '../data/json/premier_league/2017-2018/1190549.json']

In [7]:
class LeagueFolder():
    
    jsonpath = JSONPATH
    
    def __init__(self,league):
        
        self.league = league
        self.leaguename = self.league.lower().replace(" ","_")
        self.leaguepath = self.jsonpath+self.leaguename+"/"
        self.seasons = os.listdir(self.leaguepath)
        self.matcheslists = {s:list(map(lambda x: x.split(".")[0],os.listdir(self.leaguepath+s))) for s in self.seasons}
                
    def matchesList(self,season=None):
        
        return self.matcheslists[season] if season != None else self.matcheslists
    
    def numberMatches(self):
        
        return pd.Series({k:len(v) for k,v in self.matcheslists.items()},name="numberofmatches")

In [20]:
a = LeagueFolder("Brasileirao")
a.numberMatches()
a.matchesList("2017")

['1175331',
 '1175334',
 '1175337',
 '1175340',
 '1175343',
 '1175346',
 '1175349',
 '1175352',
 '1175355',
 '1175358',
 '1175361',
 '1175364',
 '1175367',
 '1175370',
 '1175373',
 '1175376',
 '1175379',
 '1175382',
 '1175385',
 '1175388']

In [34]:
class ImportMatch():
    
    def __init__(self,league,season,matchid,jsonpath=JSONPATH):
        
        self.league = league
        self.season = season
        self.leaguename = self.league.lower().replace(" ","_")
        self.matchid = matchid
        self.jsonpath = jsonpath
        self.matchpath = jsonpath+self.leaguename+"/"+self.season+"/"+str(self.matchid)+".json"
        self.match = json.load(open(self.matchpath,"r",encoding="utf-8"),encoding="utf-8")
        
    def __matchInfo__(self):
        
        matches_dict = {}
        
        try:
            matches_dict["wsmatchid"] = self.matchid
        except KeyError:
            matches_dict["wsmatchid"] = None
        try:
            matches_dict["league"] = self.league
        except KeyError:
            matches_dict["league"] = None
        try:
            matches_dict["season"] = self.season
        except KeyError:
            matches_dict["season"] = None
        try:
            matches_dict["date"] = self.match["startTime"].replace("T"," ")
        except KeyError:
            matches_dict["date"] = None
        try:
            matches_dict["hometeamid"] = self.match["home"]["teamId"]
        except KeyError:
            matches_dict["hometeamid"] = None
        try:
            matches_dict["awayteamid"] = self.match["away"]["teamId"]
        except KeyError:
            matches_dict["awayteamid"] = None
        try:
            matches_dict["hometeamname"] = self.match["home"]["name"]
        except KeyError:
            matches_dict["hometeamname"] = None
        try:
            matches_dict["awayteamname"] = self.match["away"]["name"]
        except KeyError:
            matches_dict["awayteamname"] = None
        try:
            matches_dict["homescore"] = self.match["score"].split(" : ")[0]
        except KeyError:
            matches_dict["homescore"] = None
        try:
            matches_dict["awayscore"] = self.match["score"].split(" : ")[1]
        except KeyError:
            matches_dict["awayscore"] = None
        try:
            if self.match["pkScore"] == '':
                matches_dict["homepkscore"] = None
                matches_dict["awaypkscore"] = None
            else:
                matches_dict["homepkscore"] = self.match["pkScore"].split(" : ")[0]
                matches_dict["awaypkscore"] = self.match["pkScore"].split(" : ")[1]
        except KeyError:
            matches_dict["homepkscore"] = None
            matches_dict["awaypkscore"] = None
        try:
            matches_dict["referee"] = self.match["referee"]["name"]
        except KeyError:
            matches_dict["referee"] = None
        try:
            matches_dict["managerhome"] = self.match["home"]["managerName"]
        except KeyError:
            matches_dict["managerhome"] = None
        try:
            matches_dict["manageraway"] = self.match["away"]["managerName"]
        except KeyError:
            matches_dict["manageraway"] = None
        try:
            matches_dict["attendance"] = self.match["attendance"]
        except KeyError:
            matches_dict["attendance"] = None
        try:
            matches_dict["venuename"] = self.match["venueName"]
        except KeyError:
            matches_dict["venuename"] = None
        
        column_order = ["wsmatchid","league","season","date","hometeamid",
                        "awayteamid","hometeamname","awayteamname","homescore",
                        "awayscore","homepkscore","awaypkscore","referee",
                        "managerhome","manageraway","attendance","venuename"]
        
        self.matchinfo = pd.Series(matches_dict)[column_order]
        
        return self.matchinfo
    
    def __events__(self):

In [35]:
b = ImportMatch("Brasileirao","2017",1175388)

b.__matchInfo__()

wsmatchid                          1175388
league                         Brasileirao
season                                2017
date                   2017-07-09 15:00:00
hometeamid                            8865
awayteamid                            1243
hometeamname                Chapecoense AF
awayteamname                   Atletico PR
homescore                                1
awayscore                                1
homepkscore                           None
awaypkscore                           None
referee            Caio Max Augusto Vieira
managerhome          Emerson Cris Hartkopp
manageraway     Eduardo Alexandre Baptista
attendance                            9689
venuename                      Arena Cond√°
dtype: object

In [32]:
f = open(files[0],"r",encoding="utf-8")
match = json.load(f,encoding="utf-8")

In [33]:
match.keys()

dict_keys(['playerIdNameDictionary', 'periodMinuteLimits', 'timeStamp', 'attendance', 'venueName', 'referee', 'weatherCode', 'elapsed', 'startTime', 'startDate', 'score', 'htScore', 'ftScore', 'etScore', 'pkScore', 'statusCode', 'periodCode', 'home', 'away', 'maxMinute', 'minuteExpanded', 'maxPeriod', 'expandedMinutes', 'expandedMaxMinute', 'periodEndMinutes', 'commonEvents', 'events', 'timeoutInSeconds'])

In [36]:
match["referee"]
#pd.Series(match["playerIdNameDictionary"])

{'firstName': 'Mike',
 'hasParticipatedMatches': False,
 'lastName': 'Dean',
 'name': 'Mike Dean',
 'officialId': 85}

In [20]:
match["home"].keys()

dict_keys(['teamId', 'formations', 'stats', 'incidentEvents', 'shotZones', 'name', 'countryName', 'players', 'managerName', 'scores', 'field', 'averageAge'])

In [44]:
test = pd.DataFrame(match["events"])

In [45]:
test[sorted(test.columns)]

,blockedX,blockedY,cardType,endX,endY,eventId,expandedMinute,goalMouthY,goalMouthZ,id,...,playerId,qualifiers,relatedEventId,relatedPlayerId,satisfiedEventsTypes,second,teamId,type,x,y
0,NaN,NaN,NaN,NaN,NaN,2.0,0,NaN,NaN,1.985789e+09,...,NaN,[],NaN,NaN,[],0.0,14,"{'value': 32, 'displayName': 'Start'}",0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,3.0,0,NaN,NaN,1.969703e+09,...,NaN,[],NaN,NaN,[],0.0,13,"{'value': 32, 'displayName': 'Start'}",0.0,0.0
2,NaN,NaN,NaN,28.8,30.1,4.0,0,NaN,NaN,2.073174e+09,...,73078.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 116, 29, 34, 37, 214, 217]",1.0,13,"{'value': 1, 'displayName': 'Pass'}",50.0,50.7
3,NaN,NaN,NaN,52.3,21.5,5.0,0,NaN,NaN,1.757172e+09,...,288795.0,"[{'type': {'value': 155, 'displayName': 'Chipp...",NaN,NaN,"[90, 118, 116, 29, 123, 35, 37, 215, 217]",2.0,13,"{'value': 1, 'displayName': 'Pass'}",29.7,26.7
4,NaN,NaN,NaN,44.3,20.7,6.0,0,NaN,NaN,1.222799e+09,...,13756.0,"[{'type': {'value': 156, 'displayName': 'LayOf...",NaN,NaN,"[90, 116, 29, 34, 37, 215, 217]",5.0,13,"{'value': 1, 'displayName': 'Pass'}",52.8,21.3
5,NaN,NaN,NaN,50.3,4.2,7.0,0,NaN,NaN,1.753357e+09,...,125209.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 118, 116, 29, 138, 35, 37, 215, 217]",7.0,13,"{'value': 1, 'displayName': 'Pass'}",44.0,19.6
6,NaN,NaN,NaN,70.5,5.0,8.0,0,NaN,NaN,1.534782e+09,...,125211.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 123, 204, 35, 36, 216, 217]",9.0,13,"{'value': 1, 'displayName': 'Pass'}",51.0,4.2
7,NaN,NaN,NaN,75.4,21.6,9.0,0,NaN,NaN,1.540986e+09,...,13756.0,"[{'type': {'value': 155, 'displayName': 'Chipp...",NaN,NaN,"[90, 119, 28, 123, 35, 36, 216, 217]",11.0,13,"{'value': 1, 'displayName': 'Pass'}",70.8,5.5
8,NaN,NaN,NaN,34.6,85.1,3.0,0,NaN,NaN,1.149035e+09,...,99487.0,"[{'type': {'value': 3, 'displayName': 'HeadPas...",NaN,NaN,"[90, 117, 119, 28, 138, 35, 36, 215, 217]",13.0,14,"{'value': 1, 'displayName': 'Pass'}",25.6,84.1
9,NaN,NaN,NaN,NaN,NaN,4.0,0,NaN,NaN,1.663640e+09,...,42147.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,"[197, 199]",14.0,14,"{'value': 44, 'displayName': 'Aerial'}",33.6,81.8
10,NaN,NaN,NaN,NaN,NaN,10.0,0,NaN,NaN,1.424479e+09,...,125211.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[196, 198]",14.0,13,"{'value': 44, 'displayName': 'Aerial'}",66.4,18.2
11,NaN,NaN,NaN,59.8,36.4,11.0,0,NaN,NaN,1.178309e+09,...,125211.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 138, 34, 36, 215, 217]",15.0,13,"{'value': 1, 'displayName': 'Pass'}",67.4,20.7
12,NaN,NaN,NaN,46.0,56.6,12.0,0,NaN,NaN,2.051165e+09,...,89401.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 116, 29, 138, 34, 36, 215, 217]",16.0,13,"{'value': 1, 'displayName': 'Pass'}",59.8,36.4
13,NaN,NaN,NaN,70.1,51.2,13.0,0,NaN,NaN,1.090148e+09,...,110260.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 119, 127, 35, 37, 216, 217]",19.0,13,"{'value': 1, 'displayName': 'Pass'}",46.0,56.6
14,NaN,NaN,NaN,NaN,NaN,14.0,0,NaN,NaN,1.342435e+09,...,73078.0,"[{'type': {'value': 286, 'displayName': 'Offen...",NaN,NaN,"[197, 198]",21.0,13,"{'value': 44, 'displayName': 'Aerial'}",69.0,49.5
15,NaN,NaN,NaN,NaN,NaN,5.0,0,NaN,NaN,1.991814e+09,...,99487.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,"[196, 199]",21.0,14,"{'value': 44, 'displayName': 'Aerial'}",31.0,50.5
16,NaN,NaN,NaN,48.8,58.5,6.0,0,NaN,NaN,1.931687e+09,...,99487.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 93, 94, 56, 215]",22.0,14,"{'value': 12, 'displayName': 'Clearance'}",32.1,52.2
17,NaN,NaN,NaN,74.4,42.2,15.0,0,NaN,NaN,1.634874e+09,...,23072.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 119, 127, 35, 216, 217]",24.0,13,"{'value': 1, 'displayName': 'Pass'}",51.0,42.2
18,NaN,NaN,NaN,38.8,76.1,7.0,0,NaN,NaN,1.680886e+09,...,99487.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 138, 35, 36, 215, 217]",25.0,14,"{'value': 1, 'displayName': 'Pass'}",27.0,62.4
19,NaN,NaN,NaN,30.9,68.7,8.0,0,NaN,NaN,1.439158e+09,...,42147.0,"[{'type': {'value': 156, 'displayName': 'LayOf...",NaN,NaN,"[90, 116, 29, 138, 34, 37, 214, 217]",27.0,14,"{'value': 1, 'displayName': 'Pass'}",38.7,76.4
20,NaN,NaN,NaN,NaN,NaN,9.0,0,NaN,NaN,1.597736e+09,...,327683.0,[],NaN,NaN,[92],28.0,14,"{'value': 49, 'displayName': 'BallRecovery'}",29.6,71.1
21,NaN,NaN,NaN,31.5,90.3,10.0,0,NaN,NaN,1.622390e+09,...,327683.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 116, 29, 123, 35, 36, 214, 217]",29.0,14,"{'value': 1, 'displayName': 'Pass'}",27.8,73.5
22,NaN,NaN,NaN,25.0,95.3,11.0,0,NaN,NaN,1.756221e+09,...,42147.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",30.0,14,"{'value': 1, 'displayName': 'Pass'}",31.7,90.6
23,NaN,NaN,NaN,65.0,92.7,12.0,0,NaN,NaN,1.960100e+09,...,12431.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 119, 127, 35, 37, 215, 217]",32.0,14,"{'value': 1, 'displayName': 'Pass'}",25.1,95.1
24,NaN,NaN,NaN,39.9,13.4,16.0,0,NaN,NaN,2.054420e+09,...,288795.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 117, 119, 28, 138, 35, 36, 215, 217]",35.0,13,"{'value': 1, 'displayName': 'Pass'}",28.5,13.2
25,NaN,NaN,NaN,69.4,82.9,13.0,0,NaN,NaN,1.487552e+09,...,26222.0,"[{'type': {'value': 3, 'displayName': 'HeadPas...",NaN,NaN,"[90, 118, 116, 29, 138, 204, 35, 37, 216, 217]",36.0,14,"{'value': 1, 'displayName': 'Pass'}",62.4,88.4
26,NaN,NaN,NaN,69.9,92.5,29.0,0,NaN,NaN,1.785098e+09,...,106981.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 118, 116, 29, 204, 34, 36, 216, 217]",37.0,14,"{'value': 1, 'displayName': 'Pass'}",71.9,78.5
27,NaN,NaN,NaN,81.0,70.0,14.0,0,NaN,NaN,1.267464e+09,...,26222.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 119, 28, 35, 37, 216, 217]",39.0,14,"{'value': 1, 'displayName': 'Pass'}",70.2,81.1
28,NaN,NaN,NaN,NaN,NaN,18.0,0,NaN,NaN,1.652710e+09,...,23072.0,[],NaN,NaN,[92],41.0,13,"{'value': 49, 'displayName': 'BallRecovery'}",18.9,32.2
29,NaN,NaN,NaN,4.7,47.8,19.0,0,NaN,NaN,1.880389e+09,...,23072.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",42.0,13,"{'value': 1, 'displayName': 'Pass'}",18.9,32.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,NaN,NaN,NaN,NaN,NaN,1084.0,95,NaN,NaN,1.160395e+09,...,110260.0,[],NaN,NaN,[92],46.0,13,"{'value': 49, 'displayName': 'BallRecovery'}",34.5,75.6
1592,NaN,NaN,NaN,NaN,NaN,676.0,95,NaN,NaN,1.803612e+09,...,104749.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,[54],47.0,14,"{'value': 45, 'displayName': 'Challenge'}",64.5,19.5
1593,NaN,NaN,NaN,NaN,NaN,1086.0,95,NaN,NaN,2.060238e+09,...,110260.0,"[{'type': {'value': 233, 'displayName': 'Oppos...",NaN,NaN,"[90, 53]",47.0,13,"{'value': 3, 'displayName': 'TakeOn'}",35.5,80.5
1594,NaN,NaN,NaN,NaN,NaN,1085.0,95,NaN,NaN,1.512902e+09,...,110260.0,[],NaN,NaN,[90],48.0,13,"{'value': 42, 'displayName': 'GoodSkill'}",35.1,75.4
1595,NaN,NaN,NaN,NaN,NaN,677.0,95,NaN,NaN,1.530263e+09,...,99487.0,[],NaN,NaN,[61],49.0,14,"{'value': 55, 'displayName': 'OffsideProvoked'}",42.2,38.8
1596,NaN,NaN,NaN,88.0,96.3,1087.0,95,NaN,NaN,1.724735e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 216]",49.0,13,"{'value': 2, 'displayName': 'OffsidePass'}",46.7,81.1
1597,NaN,NaN,NaN,73.1,54.6,678.0,96,NaN,NaN,1.387857e+09,...,19545.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 126, 131, 204, 35, 36, 216, 217]",13.0,14,"{'value': 1, 'displayName': 'Pass'}",28.0,22.4
1598,NaN,NaN,NaN,86.6,42.7,679.0,96,NaN,NaN,1.249387e+09,...,243552.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 119, 28, 138, 35, 37, 216, 217]",17.0,14,"{'value': 1, 'displayName': 'Pass'}",73.1,54.6
1599,NaN,NaN,NaN,30.8,88.4,1088.0,96,NaN,NaN,2.145193e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 93, 94, 214]",19.0,13,"{'value': 12, 'displayName': 'Clearance'}",12.6,55.2
1600,NaN,NaN,NaN,NaN,NaN,680.0,96,NaN,NaN,1.576198e+09,...,23683.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 68]",20.0,14,"{'value': 61, 'displayName': 'BallTouch'}",63.7,11.1
1601,NaN,NaN,NaN,44.0,86.8,1090.0,96,NaN,NaN,2.019854e+09,...,125211.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 211, 35, 37, 215]",42.0,13,"{'value': 1, 'displayName': 'Pass'}",27.5,100.0
1602,NaN,NaN,NaN,NaN,NaN,682.0,96,NaN,NaN,1.211922e+09,...,8157.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,[63],45.0,14,"{'value': 4, 'displayName': 'Foul'}",44.8,14.2
1603,NaN,NaN,NaN,NaN,NaN,1091.0,96,NaN,NaN,1.368021e+09,...,24444.0,"[{'type': {'value': 233, 'displayName': 'Oppos...",NaN,NaN,"[90, 62]",45.0,13,"{'value': 4, 'displayName': 'Foul'}",55.2,85.8
1604,NaN,NaN,"{'value': 31, 'displayName': 'Yellow'}",NaN,NaN,683.0,96,NaN,NaN,1.899309e+09,...,8157.0,"[{'type': {'value': 13, 'displayName': 'Foul'}...",NaN,NaN,[64],53.0,14,"{'value': 17, 'displayName': 'Card'}",0.0,0.0
1605,NaN,NaN,NaN,80.0,71.1,1092.0,97,NaN,NaN,1.182441e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 119, 28, 123, 132, 35, 37, 216, 217]",41.0,13,"{'value': 1, 'displayName': 'Pass'}",56.1,82.1
1606,NaN,NaN,NaN,26.0,27.1,685.0,97,NaN,NaN,1.987194e+09,...,8157.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 138, 35, 36, 214, 217]",44.0,14,"{'value': 1, 'displayName': 'Pass'}",21.1,25.6
1607,NaN,NaN,NaN,NaN,NaN,686.0,97,NaN,NaN,1.975880e+09,...,327683.0,[],NaN,NaN,[92],46.0,14,"{'value': 49, 'displayName': 'BallRecovery'}",26.0,27.1
1608,NaN,NaN,NaN,27.8,27.1,687.0,97,NaN,NaN,1.509075e+09,...,327683.0,"[{'type': {'value': 1, 'displayName': 'Longbal...",NaN,NaN,"[90, 117, 119, 127, 35, 214, 217]",46.0,14,"{'value': 1, 'displayName': 'Pass'}",26.0,27.1
1609,NaN,NaN,NaN,NaN,NaN,1093.0,97,NaN,NaN,1.592724e+09,...,26820.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,[90],47.0,13,"{'value': 61, 'displayName': 'BallTouch'}",75.4,69.0
1610,NaN,NaN,NaN,5.1,43.3,688.0,97,NaN,NaN,1.685648e+09,...,99487.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",49.0,14,"{'value': 1, 'displayName': 'Pass'}",10.2,32.4
1611,NaN,NaN,NaN,45.0,45.8,689.0,97,NaN,NaN,1.750335e+09,...,19545.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 117, 119, 127, 35, 36, 215, 217]",51.0,14,"{'value': 1, 'displayName': 'Pass'}",5.1,43.3
1612,NaN,NaN,NaN,73.3,41.9,1094.0,97,NaN,NaN,1.210643e+09,...,89401.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 122, 138, 204, 39, 45, 35, ...",53.0,13,"{'value': 1, 'displayName': 'Pass'}",56.3,48.1
1613,NaN,NaN,NaN,NaN,NaN,1095.0,97,NaN,NaN,2.037799e+09,...,26820.0,[],NaN,NaN,[92],54.0,13,"{'value': 49, 'displayName': 'BallRecovery'}",73.3,41.9
1614,NaN,NaN,NaN,NaN,NaN,1096.0,97,40.7,68.1,1.997425e+09,...,26820.0,"[{'type': {'value': 29, 'displayName': 'Assist...",1094.0,89401.0,"[90, 6, 9, 2, 3, 11]",55.0,13,"{'value': 13, 'displayName': 'MissedShots'}",74.4,42.1
1615,NaN,NaN,NaN,NaN,NaN,1098.0,98,NaN,NaN,1.382438e+09,...,NaN,[],NaN,NaN,[],9.0,13,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1616,NaN,NaN,NaN,NaN,NaN,692.0,98,NaN,NaN,1.647164e+09,...,NaN,[],NaN,NaN,[],13.0,14,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1617,NaN,NaN,NaN,NaN,NaN,1100.0,8,NaN,NaN,1.197891e+09,...,NaN,[],NaN,NaN,[],0.0,13,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1618,NaN,NaN,NaN,NaN,NaN,693.0,8,NaN,NaN,1.883948e+09,...,NaN,[],NaN,NaN,[],0.0,14,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1619,NaN,NaN,NaN,NaN,NaN,1.0,0,NaN,NaN,1.765837e+09,...,NaN,"[{'type': {'value': 59, 'displayName': 'Jersey...",NaN,NaN,[],0.0,13,"{'value': 34, 'displayName': 'FormationSet'}",0.0,0.0
1620,NaN,NaN,NaN,NaN,NaN,1.0,0,NaN,NaN,2.132242e+09,...,NaN,"[{'type': {'value': 59, 'displayName': 'Jersey...",NaN,NaN,[],0.0,14,"{'value': 34, 'displayName': 'FormationSet'}",0.0,0.0

In [85]:
test.loc[275:287]

,blockedX,blockedY,cardType,endX,endY,eventId,expandedMinute,goalMouthY,goalMouthZ,id,...,playerId,qualifiers,relatedEventId,relatedPlayerId,satisfiedEventsTypes,second,teamId,type,x,y
275,NaN,NaN,NaN,94.0,2.5,182.0,15,NaN,NaN,1.987124e+09,...,89401.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 118, 116, 123, 126, 204, 35, 37, 216, 217]",51.0,13,"{'value': 1, 'displayName': 'Pass'}",48.5,83.9
276,NaN,NaN,NaN,NaN,NaN,183.0,15,NaN,NaN,1.153357e+09,...,125211.0,"[{'type': {'value': 233, 'displayName': 'Oppos...",NaN,NaN,"[90, 69]",56.0,13,"{'value': 50, 'displayName': 'Dispossessed'}",92.8,2.7
277,NaN,NaN,NaN,NaN,NaN,127.0,15,NaN,NaN,1.730164e+09,...,42147.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,"[90, 141]",56.0,14,"{'value': 7, 'displayName': 'Tackle'}",7.2,97.3
278,NaN,NaN,NaN,NaN,NaN,184.0,15,NaN,NaN,1.778224e+09,...,125211.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,[90],57.0,13,"{'value': 61, 'displayName': 'BallTouch'}",94.0,2.5
279,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,NaN,2.035997e+09,...,106981.0,[],NaN,NaN,[60],NaN,14,"{'value': 10000, 'displayName': 'OffsideGiven'}",79.5,80.9
280,NaN,NaN,NaN,59.5,85.0,129.0,16,NaN,NaN,2.057250e+09,...,19545.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 118, 116, 126, 35, 36, 215, 217]",24.0,14,"{'value': 1, 'displayName': 'Pass'}",4.7,51.9
281,NaN,NaN,NaN,56.8,80.8,130.0,16,NaN,NaN,1.693701e+09,...,26222.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 118, 116, 29, 34, 37, 215, 217]",28.0,14,"{'value': 1, 'displayName': 'Pass'}",61.1,83.1
282,NaN,NaN,NaN,79.5,80.9,131.0,16,NaN,NaN,2.035997e+09,...,327683.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 216]",33.0,14,"{'value': 2, 'displayName': 'OffsidePass'}",65.6,88.9
283,NaN,NaN,NaN,NaN,NaN,186.0,16,NaN,NaN,2.056132e+09,...,23072.0,[],NaN,NaN,[61],33.0,13,"{'value': 55, 'displayName': 'OffsideProvoked'}",29.5,34.0
284,NaN,NaN,NaN,30.2,30.7,187.0,16,NaN,NaN,1.407872e+09,...,288795.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 131, 35, 36, 214, 217]",48.0,13,"{'value': 1, 'displayName': 'Pass'}",27.1,26.7
285,NaN,NaN,NaN,37.8,4.0,189.0,16,NaN,NaN,1.712080e+09,...,125209.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 35, 37, 215, 217]",54.0,13,"{'value': 1, 'displayName': 'Pass'}",36.6,21.9
286,NaN,NaN,NaN,27.7,13.2,190.0,16,NaN,NaN,1.887222e+09,...,125211.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",56.0,13,"{'value': 1, 'displayName': 'Pass'}",37.7,4.1
287,NaN,NaN,NaN,19.0,48.4,191.0,16,NaN,NaN,1.235486e+09,...,288795.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",57.0,13,"{'value': 1, 'displayName': 'Pass'}",28.4,18.8

In [66]:
test[["id","teamId","eventId","period","minute","second","type"]]

,id,teamId,eventId,period,minute,second,type
0,1.985789e+09,14,2.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,0.0,"{'value': 32, 'displayName': 'Start'}"
1,1.969703e+09,13,3.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,0.0,"{'value': 32, 'displayName': 'Start'}"
2,2.073174e+09,13,4.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,1.0,"{'value': 1, 'displayName': 'Pass'}"
3,1.757172e+09,13,5.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,2.0,"{'value': 1, 'displayName': 'Pass'}"
4,1.222799e+09,13,6.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,5.0,"{'value': 1, 'displayName': 'Pass'}"
5,1.753357e+09,13,7.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,7.0,"{'value': 1, 'displayName': 'Pass'}"
6,1.534782e+09,13,8.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,9.0,"{'value': 1, 'displayName': 'Pass'}"
7,1.540986e+09,13,9.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,11.0,"{'value': 1, 'displayName': 'Pass'}"
8,1.149035e+09,14,3.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,13.0,"{'value': 1, 'displayName': 'Pass'}"
9,1.663640e+09,14,4.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,14.0,"{'value': 44, 'displayName': 'Aerial'}"
10,1.424479e+09,13,10.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,14.0,"{'value': 44, 'displayName': 'Aerial'}"
11,1.178309e+09,13,11.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,15.0,"{'value': 1, 'displayName': 'Pass'}"
12,2.051165e+09,13,12.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,16.0,"{'value': 1, 'displayName': 'Pass'}"
13,1.090148e+09,13,13.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,19.0,"{'value': 1, 'displayName': 'Pass'}"
14,1.342435e+09,13,14.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,21.0,"{'value': 44, 'displayName': 'Aerial'}"
15,1.991814e+09,14,5.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,21.0,"{'value': 44, 'displayName': 'Aerial'}"
16,1.931687e+09,14,6.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,22.0,"{'value': 12, 'displayName': 'Clearance'}"
17,1.634874e+09,13,15.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,24.0,"{'value': 1, 'displayName': 'Pass'}"
18,1.680886e+09,14,7.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,25.0,"{'value': 1, 'displayName': 'Pass'}"
19,1.439158e+09,14,8.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,27.0,"{'value': 1, 'displayName': 'Pass'}"
20,1.597736e+09,14,9.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,28.0,"{'value': 49, 'displayName': 'BallRecovery'}"
21,1.622390e+09,14,10.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,29.0,"{'value': 1, 'displayName': 'Pass'}"
22,1.756221e+09,14,11.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,30.0,"{'value': 1, 'displayName': 'Pass'}"
23,1.960100e+09,14,12.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,32.0,"{'value': 1, 'displayName': 'Pass'}"
24,2.054420e+09,13,16.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,35.0,"{'value': 1, 'displayName': 'Pass'}"
25,1.487552e+09,14,13.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,36.0,"{'value': 1, 'displayName': 'Pass'}"
26,1.785098e+09,14,29.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,37.0,"{'value': 1, 'displayName': 'Pass'}"
27,1.267464e+09,14,14.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,39.0,"{'value': 1, 'displayName': 'Pass'}"
28,1.652710e+09,13,18.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,41.0,"{'value': 49, 'displayName': 'BallRecovery'}"
29,1.880389e+09,13,19.0,"{'value': 1, 'displayName': 'FirstHalf'}",0,42.0,"{'value': 1, 'displayName': 'Pass'}"
...,...,...,...,...,...,...,...
1591,1.160395e+09,13,1084.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,46.0,"{'value': 49, 'displayName': 'BallRecovery'}"
1592,1.803612e+09,14,676.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,47.0,"{'value': 45, 'displayName': 'Challenge'}"
1593,2.060238e+09,13,1086.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,47.0,"{'value': 3, 'displayName': 'TakeOn'}"
1594,1.512902e+09,13,1085.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,48.0,"{'value': 42, 'displayName': 'GoodSkill'}"
1595,1.530263e+09,14,677.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,49.0,"{'value': 55, 'displayName': 'OffsideProvoked'}"
1596,1.724735e+09,13,1087.0,"{'value': 2, 'displayName': 'SecondHalf'}",92,49.0,"{'value': 2, 'displayName': 'OffsidePass'}"
1597,1.387857e+09,14,678.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,13.0,"{'value': 1, 'displayName': 'Pass'}"
1598,1.249387e+09,14,679.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,17.0,"{'value': 1, 'displayName': 'Pass'}"
1599,2.145193e+09,13,1088.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,19.0,"{'value': 12, 'displayName': 'Clearance'}"
1600,1.576198e+09,14,680.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,20.0,"{'value': 61, 'displayName': 'BallTouch'}"
1601,2.019854e+09,13,1090.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,42.0,"{'value': 1, 'displayName': 'Pass'}"
1602,1.211922e+09,14,682.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,45.0,"{'value': 4, 'displayName': 'Foul'}"
1603,1.368021e+09,13,1091.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,45.0,"{'value': 4, 'displayName': 'Foul'}"
1604,1.899309e+09,14,683.0,"{'value': 2, 'displayName': 'SecondHalf'}",93,53.0,"{'value': 17, 'displayName': 'Card'}"
1605,1.182441e+09,13,1092.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,41.0,"{'value': 1, 'displayName': 'Pass'}"
1606,1.987194e+09,14,685.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,44.0,"{'value': 1, 'displayName': 'Pass'}"
1607,1.975880e+09,14,686.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,46.0,"{'value': 49, 'displayName': 'BallRecovery'}"
1608,1.509075e+09,14,687.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,46.0,"{'value': 1, 'displayName': 'Pass'}"
1609,1.592724e+09,13,1093.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,47.0,"{'value': 61, 'displayName': 'BallTouch'}"
1610,1.685648e+09,14,688.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,49.0,"{'value': 1, 'displayName': 'Pass'}"
1611,1.750335e+09,14,689.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,51.0,"{'value': 1, 'displayName': 'Pass'}"
1612,1.210643e+09,13,1094.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,53.0,"{'value': 1, 'displayName': 'Pass'}"
1613,2.037799e+09,13,1095.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,54.0,"{'value': 49, 'displayName': 'BallRecovery'}"
1614,1.997425e+09,13,1096.0,"{'value': 2, 'displayName': 'SecondHalf'}",94,55.0,"{'value': 13, 'displayName': 'MissedShots'}"
1615,1.382438e+09,13,1098.0,"{'value': 2, 'displayName': 'SecondHalf'}",95,9.0,"{'value': 30, 'displayName': 'End'}"
1616,1.647164e+09,14,692.0,"{'value': 2, 'displayName': 'SecondHalf'}",95,13.0,"{'value': 30, 'displayName': 'End'}"
1617,1.197891e+09,13,1100.0,"{'value': 14, 'displayName': 'PostGame'}",0,0.0,"{'value': 30, 'displayName': 'End'}"
1618,1.883948e+09,14,693.0,"{'value': 14, 'displayName': 'PostGame'}",0,0.0,"{'value': 30, 'displayName': 'End'}"
1619,1.765837e+09,13,1.0,"{'value': 16, 'displayName': 'PreMatch'}",0,0.0,"{'value': 34, 'displayName': 'FormationSet'}"
1620,2.132242e+09,14,1.0,"{'value': 16, 'displayName': 'PreMatch'}",0,0.0,"{'value': 34, 'displayName': 'FormationSet'}"

In [79]:
pd.DataFrame(test["qualifiers"]).loc[3].values

array([ list([{'type': {'value': 155, 'displayName': 'Chipped'}}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '6.1'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Center'}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '52.3'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '24.0'}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '21.5'}])], dtype=object)

In [86]:
test.sort_values(["minute","second"])

,blockedX,blockedY,cardType,endX,endY,eventId,expandedMinute,goalMouthY,goalMouthZ,id,...,playerId,qualifiers,relatedEventId,relatedPlayerId,satisfiedEventsTypes,second,teamId,type,x,y
0,NaN,NaN,NaN,NaN,NaN,2.0,0,NaN,NaN,1.985789e+09,...,NaN,[],NaN,NaN,[],0.0,14,"{'value': 32, 'displayName': 'Start'}",0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,3.0,0,NaN,NaN,1.969703e+09,...,NaN,[],NaN,NaN,[],0.0,13,"{'value': 32, 'displayName': 'Start'}",0.0,0.0
1617,NaN,NaN,NaN,NaN,NaN,1100.0,8,NaN,NaN,1.197891e+09,...,NaN,[],NaN,NaN,[],0.0,13,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1618,NaN,NaN,NaN,NaN,NaN,693.0,8,NaN,NaN,1.883948e+09,...,NaN,[],NaN,NaN,[],0.0,14,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1619,NaN,NaN,NaN,NaN,NaN,1.0,0,NaN,NaN,1.765837e+09,...,NaN,"[{'type': {'value': 59, 'displayName': 'Jersey...",NaN,NaN,[],0.0,13,"{'value': 34, 'displayName': 'FormationSet'}",0.0,0.0
1620,NaN,NaN,NaN,NaN,NaN,1.0,0,NaN,NaN,2.132242e+09,...,NaN,"[{'type': {'value': 59, 'displayName': 'Jersey...",NaN,NaN,[],0.0,14,"{'value': 34, 'displayName': 'FormationSet'}",0.0,0.0
2,NaN,NaN,NaN,28.8,30.1,4.0,0,NaN,NaN,2.073174e+09,...,73078.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 116, 29, 34, 37, 214, 217]",1.0,13,"{'value': 1, 'displayName': 'Pass'}",50.0,50.7
3,NaN,NaN,NaN,52.3,21.5,5.0,0,NaN,NaN,1.757172e+09,...,288795.0,"[{'type': {'value': 155, 'displayName': 'Chipp...",NaN,NaN,"[90, 118, 116, 29, 123, 35, 37, 215, 217]",2.0,13,"{'value': 1, 'displayName': 'Pass'}",29.7,26.7
4,NaN,NaN,NaN,44.3,20.7,6.0,0,NaN,NaN,1.222799e+09,...,13756.0,"[{'type': {'value': 156, 'displayName': 'LayOf...",NaN,NaN,"[90, 116, 29, 34, 37, 215, 217]",5.0,13,"{'value': 1, 'displayName': 'Pass'}",52.8,21.3
5,NaN,NaN,NaN,50.3,4.2,7.0,0,NaN,NaN,1.753357e+09,...,125209.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 118, 116, 29, 138, 35, 37, 215, 217]",7.0,13,"{'value': 1, 'displayName': 'Pass'}",44.0,19.6
6,NaN,NaN,NaN,70.5,5.0,8.0,0,NaN,NaN,1.534782e+09,...,125211.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 123, 204, 35, 36, 216, 217]",9.0,13,"{'value': 1, 'displayName': 'Pass'}",51.0,4.2
7,NaN,NaN,NaN,75.4,21.6,9.0,0,NaN,NaN,1.540986e+09,...,13756.0,"[{'type': {'value': 155, 'displayName': 'Chipp...",NaN,NaN,"[90, 119, 28, 123, 35, 36, 216, 217]",11.0,13,"{'value': 1, 'displayName': 'Pass'}",70.8,5.5
8,NaN,NaN,NaN,34.6,85.1,3.0,0,NaN,NaN,1.149035e+09,...,99487.0,"[{'type': {'value': 3, 'displayName': 'HeadPas...",NaN,NaN,"[90, 117, 119, 28, 138, 35, 36, 215, 217]",13.0,14,"{'value': 1, 'displayName': 'Pass'}",25.6,84.1
9,NaN,NaN,NaN,NaN,NaN,4.0,0,NaN,NaN,1.663640e+09,...,42147.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,"[197, 199]",14.0,14,"{'value': 44, 'displayName': 'Aerial'}",33.6,81.8
10,NaN,NaN,NaN,NaN,NaN,10.0,0,NaN,NaN,1.424479e+09,...,125211.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[196, 198]",14.0,13,"{'value': 44, 'displayName': 'Aerial'}",66.4,18.2
11,NaN,NaN,NaN,59.8,36.4,11.0,0,NaN,NaN,1.178309e+09,...,125211.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 138, 34, 36, 215, 217]",15.0,13,"{'value': 1, 'displayName': 'Pass'}",67.4,20.7
12,NaN,NaN,NaN,46.0,56.6,12.0,0,NaN,NaN,2.051165e+09,...,89401.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 116, 29, 138, 34, 36, 215, 217]",16.0,13,"{'value': 1, 'displayName': 'Pass'}",59.8,36.4
13,NaN,NaN,NaN,70.1,51.2,13.0,0,NaN,NaN,1.090148e+09,...,110260.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 119, 127, 35, 37, 216, 217]",19.0,13,"{'value': 1, 'displayName': 'Pass'}",46.0,56.6
14,NaN,NaN,NaN,NaN,NaN,14.0,0,NaN,NaN,1.342435e+09,...,73078.0,"[{'type': {'value': 286, 'displayName': 'Offen...",NaN,NaN,"[197, 198]",21.0,13,"{'value': 44, 'displayName': 'Aerial'}",69.0,49.5
15,NaN,NaN,NaN,NaN,NaN,5.0,0,NaN,NaN,1.991814e+09,...,99487.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,"[196, 199]",21.0,14,"{'value': 44, 'displayName': 'Aerial'}",31.0,50.5
16,NaN,NaN,NaN,48.8,58.5,6.0,0,NaN,NaN,1.931687e+09,...,99487.0,"[{'type': {'value': 212, 'displayName': 'Lengt...",NaN,NaN,"[90, 93, 94, 56, 215]",22.0,14,"{'value': 12, 'displayName': 'Clearance'}",32.1,52.2
17,NaN,NaN,NaN,74.4,42.2,15.0,0,NaN,NaN,1.634874e+09,...,23072.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 119, 127, 35, 216, 217]",24.0,13,"{'value': 1, 'displayName': 'Pass'}",51.0,42.2
18,NaN,NaN,NaN,38.8,76.1,7.0,0,NaN,NaN,1.680886e+09,...,99487.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 138, 35, 36, 215, 217]",25.0,14,"{'value': 1, 'displayName': 'Pass'}",27.0,62.4
19,NaN,NaN,NaN,30.9,68.7,8.0,0,NaN,NaN,1.439158e+09,...,42147.0,"[{'type': {'value': 156, 'displayName': 'LayOf...",NaN,NaN,"[90, 116, 29, 138, 34, 37, 214, 217]",27.0,14,"{'value': 1, 'displayName': 'Pass'}",38.7,76.4
20,NaN,NaN,NaN,NaN,NaN,9.0,0,NaN,NaN,1.597736e+09,...,327683.0,[],NaN,NaN,[92],28.0,14,"{'value': 49, 'displayName': 'BallRecovery'}",29.6,71.1
21,NaN,NaN,NaN,31.5,90.3,10.0,0,NaN,NaN,1.622390e+09,...,327683.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 116, 29, 123, 35, 36, 214, 217]",29.0,14,"{'value': 1, 'displayName': 'Pass'}",27.8,73.5
22,NaN,NaN,NaN,25.0,95.3,11.0,0,NaN,NaN,1.756221e+09,...,42147.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",30.0,14,"{'value': 1, 'displayName': 'Pass'}",31.7,90.6
23,NaN,NaN,NaN,65.0,92.7,12.0,0,NaN,NaN,1.960100e+09,...,12431.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 119, 127, 35, 37, 215, 217]",32.0,14,"{'value': 1, 'displayName': 'Pass'}",25.1,95.1
24,NaN,NaN,NaN,39.9,13.4,16.0,0,NaN,NaN,2.054420e+09,...,288795.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 117, 119, 28, 138, 35, 36, 215, 217]",35.0,13,"{'value': 1, 'displayName': 'Pass'}",28.5,13.2
25,NaN,NaN,NaN,69.4,82.9,13.0,0,NaN,NaN,1.487552e+09,...,26222.0,"[{'type': {'value': 3, 'displayName': 'HeadPas...",NaN,NaN,"[90, 118, 116, 29, 138, 204, 35, 37, 216, 217]",36.0,14,"{'value': 1, 'displayName': 'Pass'}",62.4,88.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,NaN,NaN,NaN,60.2,4.0,674.0,95,NaN,NaN,1.076693e+09,...,19545.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 123, 126, 35, 37, 215, 217]",42.0,14,"{'value': 1, 'displayName': 'Pass'}",21.6,35.2
1589,NaN,NaN,NaN,67.5,13.2,675.0,95,NaN,NaN,1.108966e+09,...,104749.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 204, 35, 36, 216, 217]",44.0,14,"{'value': 1, 'displayName': 'Pass'}",60.2,4.1
1590,NaN,NaN,NaN,NaN,NaN,684.0,95,NaN,NaN,2.113659e+09,...,106981.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 68]",45.0,14,"{'value': 61, 'displayName': 'BallTouch'}",69.9,19.6
1591,NaN,NaN,NaN,NaN,NaN,1084.0,95,NaN,NaN,1.160395e+09,...,110260.0,[],NaN,NaN,[92],46.0,13,"{'value': 49, 'displayName': 'BallRecovery'}",34.5,75.6
1592,NaN,NaN,NaN,NaN,NaN,676.0,95,NaN,NaN,1.803612e+09,...,104749.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,[54],47.0,14,"{'value': 45, 'displayName': 'Challenge'}",64.5,19.5
1593,NaN,NaN,NaN,NaN,NaN,1086.0,95,NaN,NaN,2.060238e+09,...,110260.0,"[{'type': {'value': 233, 'displayName': 'Oppos...",NaN,NaN,"[90, 53]",47.0,13,"{'value': 3, 'displayName': 'TakeOn'}",35.5,80.5
1594,NaN,NaN,NaN,NaN,NaN,1085.0,95,NaN,NaN,1.512902e+09,...,110260.0,[],NaN,NaN,[90],48.0,13,"{'value': 42, 'displayName': 'GoodSkill'}",35.1,75.4
1595,NaN,NaN,NaN,NaN,NaN,677.0,95,NaN,NaN,1.530263e+09,...,99487.0,[],NaN,NaN,[61],49.0,14,"{'value': 55, 'displayName': 'OffsideProvoked'}",42.2,38.8
1596,NaN,NaN,NaN,88.0,96.3,1087.0,95,NaN,NaN,1.724735e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 216]",49.0,13,"{'value': 2, 'displayName': 'OffsidePass'}",46.7,81.1
1574,NaN,NaN,NaN,NaN,NaN,NaN,95,NaN,NaN,1.724735e+09,...,13756.0,[],NaN,NaN,[60],NaN,13,"{'value': 10000, 'displayName': 'OffsideGiven'}",88.0,96.3
1597,NaN,NaN,NaN,73.1,54.6,678.0,96,NaN,NaN,1.387857e+09,...,19545.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 126, 131, 204, 35, 36, 216, 217]",13.0,14,"{'value': 1, 'displayName': 'Pass'}",28.0,22.4
1598,NaN,NaN,NaN,86.6,42.7,679.0,96,NaN,NaN,1.249387e+09,...,243552.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 119, 28, 138, 35, 37, 216, 217]",17.0,14,"{'value': 1, 'displayName': 'Pass'}",73.1,54.6
1599,NaN,NaN,NaN,30.8,88.4,1088.0,96,NaN,NaN,2.145193e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 93, 94, 214]",19.0,13,"{'value': 12, 'displayName': 'Clearance'}",12.6,55.2
1600,NaN,NaN,NaN,NaN,NaN,680.0,96,NaN,NaN,1.576198e+09,...,23683.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,"[90, 68]",20.0,14,"{'value': 61, 'displayName': 'BallTouch'}",63.7,11.1
1601,NaN,NaN,NaN,44.0,86.8,1090.0,96,NaN,NaN,2.019854e+09,...,125211.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 211, 35, 37, 215]",42.0,13,"{'value': 1, 'displayName': 'Pass'}",27.5,100.0
1602,NaN,NaN,NaN,NaN,NaN,682.0,96,NaN,NaN,1.211922e+09,...,8157.0,"[{'type': {'value': 285, 'displayName': 'Defen...",NaN,NaN,[63],45.0,14,"{'value': 4, 'displayName': 'Foul'}",44.8,14.2
1603,NaN,NaN,NaN,NaN,NaN,1091.0,96,NaN,NaN,1.368021e+09,...,24444.0,"[{'type': {'value': 233, 'displayName': 'Oppos...",NaN,NaN,"[90, 62]",45.0,13,"{'value': 4, 'displayName': 'Foul'}",55.2,85.8
1604,NaN,NaN,"{'value': 31, 'displayName': 'Yellow'}",NaN,NaN,683.0,96,NaN,NaN,1.899309e+09,...,8157.0,"[{'type': {'value': 13, 'displayName': 'Foul'}...",NaN,NaN,[64],53.0,14,"{'value': 17, 'displayName': 'Card'}",0.0,0.0
1605,NaN,NaN,NaN,80.0,71.1,1092.0,97,NaN,NaN,1.182441e+09,...,110260.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 119, 28, 123, 132, 35, 37, 216, 217]",41.0,13,"{'value': 1, 'displayName': 'Pass'}",56.1,82.1
1606,NaN,NaN,NaN,26.0,27.1,685.0,97,NaN,NaN,1.987194e+09,...,8157.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 138, 35, 36, 214, 217]",44.0,14,"{'value': 1, 'displayName': 'Pass'}",21.1,25.6
1607,NaN,NaN,NaN,NaN,NaN,686.0,97,NaN,NaN,1.975880e+09,...,327683.0,[],NaN,NaN,[92],46.0,14,"{'value': 49, 'displayName': 'BallRecovery'}",26.0,27.1
1608,NaN,NaN,NaN,27.8,27.1,687.0,97,NaN,NaN,1.509075e+09,...,327683.0,"[{'type': {'value': 1, 'displayName': 'Longbal...",NaN,NaN,"[90, 117, 119, 127, 35, 214, 217]",46.0,14,"{'value': 1, 'displayName': 'Pass'}",26.0,27.1
1609,NaN,NaN,NaN,NaN,NaN,1093.0,97,NaN,NaN,1.592724e+09,...,26820.0,"[{'type': {'value': 56, 'displayName': 'Zone'}...",NaN,NaN,[90],47.0,13,"{'value': 61, 'displayName': 'BallTouch'}",75.4,69.0
1610,NaN,NaN,NaN,5.1,43.3,688.0,97,NaN,NaN,1.685648e+09,...,99487.0,"[{'type': {'value': 140, 'displayName': 'PassE...",NaN,NaN,"[90, 116, 29, 34, 36, 214, 217]",49.0,14,"{'value': 1, 'displayName': 'Pass'}",10.2,32.4
1611,NaN,NaN,NaN,45.0,45.8,689.0,97,NaN,NaN,1.750335e+09,...,19545.0,"[{'type': {'value': 213, 'displayName': 'Angle...",NaN,NaN,"[90, 117, 119, 127, 35, 36, 215, 217]",51.0,14,"{'value': 1, 'displayName': 'Pass'}",5.1,43.3
1612,NaN,NaN,NaN,73.3,41.9,1094.0,97,NaN,NaN,1.210643e+09,...,89401.0,"[{'type': {'value': 141, 'displayName': 'PassE...",NaN,NaN,"[90, 118, 116, 29, 122, 138, 204, 39, 45, 35, ...",53.0,13,"{'value': 1, 'displayName': 'Pass'}",56.3,48.1
1613,NaN,NaN,NaN,NaN,NaN,1095.0,97,NaN,NaN,2.037799e+09,...,26820.0,[],NaN,NaN,[92],54.0,13,"{'value': 49, 'displayName': 'BallRecovery'}",73.3,41.9
1614,NaN,NaN,NaN,NaN,NaN,1096.0,97,40.7,68.1,1.997425e+09,...,26820.0,"[{'type': {'value': 29, 'displayName': 'Assist...",1094.0,89401.0,"[90, 6, 9, 2, 3, 11]",55.0,13,"{'value': 13, 'displayName': 'MissedShots'}",74.4,42.1
1615,NaN,NaN,NaN,NaN,NaN,1098.0,98,NaN,NaN,1.382438e+09,...,NaN,[],NaN,NaN,[],9.0,13,"{'value': 30, 'displayName': 'End'}",0.0,0.0
1616,NaN,NaN,NaN,NaN,NaN,692.0,98,NaN,NaN,1.647164e+09,...,NaN,[],NaN,NaN,[],13.0,14,"{'value': 30, 'displayName': 'End'}",0.0,0.0